<section class="about container">
    <h1 class="text-center mb-5 ">About Us</h1>
    <p>

        This is a quick summary of your company's history and purpose, and should provide a clear overview of the company's brand story. A great About Us page can help tell your brand story, establish customer loyalty, and turn your bland ecommerce store into an well-loved brand icon.
    </p>

    <p>
        Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.
    </p>

    <p>
        Python can be easy to pick up whether you're a first time programmer or you're experienced with other languages. The following pages are a useful first step to get on your way writing programs with Python
    </p>

    <p>
        C++ is a very popular language for performance-critical applications that rely on speed and efficient memory management.
    </p>

    <br><br><br>
    <h4 class="text-center">Follow Us</h4>
    <div class="centerdiv">
        
        <a href="#">
            <i class="fa fa-2x fa-facebook" ></i>
        </a>
        <a href="#">
            <i class="fa fa-2x  fa-instagram"></i>
        </a>

        <a href="#">
            <i class="fa fa-2x fa-youtube"></i>
        </a>

        <a href="#">
            <i class="fa fa-2x fa-twitter"></i>
        </a>
        
    </div>


</section>
